<div class="jumbotron">
  <h2 align="center">Our Bum Drinks</h2>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <p>Intelligentsia Banksy leggings single-origin coffee hoodie kogi. Disrupt butcher kale chips sustainable pour-over drinking vinegar. Keffiyeh photo booth Tonx vegan, mlkshk farm-to-table plaid Cosby sweater asymmetrical pork belly Pitchfork single-origin coffee American Apparel. DIY flexitarian quinoa PBR&B skateboard bespoke scenester American Apparel. Leggings asymmetrical bespoke you probably haven't heard of them tote bag, Truffaut sartorial quinoa viral Austin street art polaroid selvage readymade. Ethical freegan flexitarian, authentic Vice selvage kitsch. Fixie Pitchfork readymade cardigan.</p>
    </div>
    <div class="col-xs-6">
      <p>Portland seitan raw denim, Helvetica +1 ennui Tumblr flexitarian. Tote bag cred pickled, PBR blog gentrify tattooed Bushwick flannel shabby chic fixie sartorial narwhal sriracha. Scenester yr 90's kitsch American Apparel cliche. Viral twee asymmetrical umami iPhone. Jean shorts church-key Carles semiotics sriracha, Brooklyn tote bag whatever biodiesel beard sustainable mixtape dreamcatcher Pinterest. Bicycle rights bitters Intelligentsia Helvetica lomo High Life, pork belly tattooed fanny pack distillery drinking vinegar asymmetrical. Next level lo-fi letterpress narwhal Austin chillwave.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
  <h2 align="center">Meet the Team</h2>
</div>

<div class="row text-center">

  <div class="col-xs-3">
      <img src="http://demilked2.uuuploads.com/portraits-of-the-homeless-lee-jeffries/portraits-of-the-homeless-lee-jeffries-10.jpg" alt="bum 3" class="img-circle .img-responsive" style="max-width: 80%; height:auto">
      <h3>Homeless alcoholic 1</h3>
      <p>
        Irony bitters 3 wolf moon gastropub post-ironic. Helvetica occupy leggings, Portland Cosby sweater authentic fap 8-bit stumptown before they sold out. Church-key +1 yr master cleanse, Vice ethical Echo Park pour-over.
      </p>
  </div>


  <div class="col-xs-3">
      <img src="http://i.huffpost.com/gen/1237699/thumbs/o-LEE-JEFFRIES-900.jpg?1" alt="bum 2" class="img-circle .img-responsive" style="max-width: 80%; height:auto">
    <h3>Homeless alcoholic 2</h3>
    <p>
      Stumptown VHS Odd Future pug. Shoreditch master cleanse Austin lo-fi drinking vinegar craft beer. Mustache hella beard selfies organic tote bag, small batch fanny pack biodiesel sustainable tattooed sriracha paleo.
    </p>
  </div>

  <div class="col-xs-3">
      <img src="http://i.huffpost.com/gen/1237625/thumbs/o-LEE-JEFFRIES-900.jpg?6" alt="bum 1" class="img-circle .img-responsive" style="max-width: 80%; height:auto">
      <h3>Homeless alcoholic 3</h3>
      <p>
        Biodiesel vinyl trust fund leggings, Cosby sweater chia 3 wolf moon wayfarers ethnic jean shorts shabby chic.
      </p>
  </div>

  <div class="col-xs-3">
      <img src="http://petapixel.com/assets/uploads/2012/01/homeless1_mini.jpg" style="max-width: 80%; height:auto" alt="bum 4" class="img-circle .img-responsive">
      <h3>Homeless alcoholic 4</h3>
      <p>
        Synth selvage banjo Odd Future, wayfarers brunch Blue Bottle readymade sustainable keffiyeh 90's. Trust fund 8-bit synth, fanny pack four loko cliche try-hard meggings Schlitz bespoke gastropub Carles lomo locavore.
      </p>
  </div>
</div>