body {
  margin-top: 3%;
}

#sign-up {
  padding-top: 0px;
  padding-bottom: 30px;
}

.jumbotron {
  //margin-left: 15px;
}

//div {
//  border: 1px solid blue;
//}
//
//.container {
//  border: 1px solid red;
//}

